@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/din-alternate');
@import url(//db.onlinewebfonts.com/c/69dbc1186412d7831b88d8a78a360360?family=DIN+Condensed+Web);
@import url('animated-circles.css');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
}

a {
    color: rgba(60, 146, 246, 1);
}

body {
    background:  #F8F9FB;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 9999s;
    transition-property: background-color, color
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}