.container {
  display: flex;
  flex-direction: column;
  grid-auto-rows: max-content;
  overflow: hidden;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  width: 300px;
  margin: 0 5px;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 350ms ease;
  background-color: #F2F3F4;
  max-height: 100%;

  ul {
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    //grid-template-columns: repeat(var(--columns, 1), 1fr);
    list-style: none;
    //padding: 10px;
    margin: 0 -15px;
    padding: 0 15px;
    overflow-x: scroll;
    & li {
      width: 100%;
    }
  }

  &.scrollable {
    ul {
      overflow-y: auto;
    }
  }

  &.placeholder {
    justify-content: flex-start;
    cursor: pointer;
    min-height: auto;
    border: none;
    outline: none;
  }

  &.hover {
    background-color: rgb(235, 235, 235, 1);
  }

  &.unstyled {
    overflow: visible;
    background-color: transparent !important;
    border: none !important;
  }

  &.shadow {
    box-shadow: 0 1px 10px 0 rgba(34, 33, 81, 0.1);
  }

  &:focus-visible {
    border-color: transparent;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0px 0px 2px #4c9ffe;
  }
}

.header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;

  &:hover {
    .actions > * {
      opacity: 1 !important;
    }
  }
}

.title {
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.handle {
  padding: 10px;
  margin: -10px;
  cursor: move;
}