.root {
    padding: 15px;
    background: #fafafa;
    min-height: 100vh;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.blur {
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}